    <div class="box">
      <h1>Mitesh</h1>
      <p>
        <i>Web Developer</i>
      </p>
      <p>
        Ruby on Rails Developer
      </p>
      <br/>
      <br/>
      <br/>
      <a href="http://github.com/mpatel5">
        <%= image_tag("github.png", :alt => "rss feed") %>
      <a/>
    </div>
